.chartClass {  
  width:1280px;
  height:900px;
}

.redText {
    color:red;
}

.rectClass {
    fill:blue;
    stroke:red;
    stroke-width:5;
    fill-opacity:0.1;
    stroke-opacity:0.9
}